Django>=1.5.1
Markdown>=2.1.0
PIL>=1.1.7
django-countries>=1.1.1
django-debug-toolbar>=0.9.4
django-mailer>=0.1.0
django-social-auth>=0.6.6
django-tagging>=0.3.1
django-timezones>=0.2
sorl-thumbnail>=11.12
python-dateutil>=2.0
docutils>=0.8.1
feedparser>=5.1
pytz>=2011n
