.git

# OSX
# https://github.com/github/gitignore/blob/master/Global/OSXgitignore
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# TextMate
# https://github.com/github/gitignore/blob/master/Global/TextMate.gitignore
*.tmproj
*.tmproject
tmtags


# Django 
# https://github.com/github/gitignore/blob/master/Django.gitignore
*.log
*.pot
*.pyc
local_settings.py


# Python
# https://github.com/github/gitignore/blob/master/Python.gitignore
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
