{% extends "base.html" %}
{% block title %}{% trans "Login" %} -
{{ block.super }}{% endblock title %}

{% block content %}
<div class="row">
<form action="" method="post" class="form col-6">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Log in to your account" %}</legend>
    {{ form|bootstrap_form }}
  </fieldset>
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
 <div class="form-group">
     <input type="submit" value="{% trans "Log In" %}" class="btn btn-primary" />
     <a href="{% url "password_reset" %}" title="{% trans "Forgot your password?" %}" class="btn">{% trans "Forgot your password?" %}</a>
 </div>
</form>  
</div>
{% endblock content %}
