{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %} - {{ block.super }}{% endblock title %}

{% block content %}
{% if form %}
<form action="" method="post" class="form">
    {% csrf_token %}
  <fieldset>
    <legend>{% trans "Password reset" %}</legend>
    {{ form|bootstrap_form }}
  </fieldset>
  <div class="form-group">
    <input type="submit" value="{% trans "Reset password" %}" class="btn btn-primary" />
  </div>
</form>
{% else %}
<p class"center">Something went wrong!</p>
{% endif %}
{% endblock content %}
