{% extends "base.html" %}
{% block content %}
<h1>{% if request.session.facebook_liked %}{% trans "Liked" %}{% else %}{% trans "Not liked" %}{% endif %}</h1>

{% if request.user.is_authenticated %}
    <dl>
        <dt>{% trans "Current user" %}:</dt>
        <dd>{{ request.user.get_full_name }}</dd>
    </dl>
{% else %}
    <p><a href="{% url 'facebook_connect' %}" onClick="window.open(this.href, 
            'connect', 'height=200,width=480,toolbar=no,menubar=no'); 
            return false;">{% trans "Connect with Facebook" %}</a></p>
{% endif %}
{% endblock %}